.featurs {
    padding: 5rem 0;

    &__box {
        @include flexbox(center);
        padding: 5rem 10rem;
        position: relative;


        &:not(:last-child){
            height: 60rem;
        }


        &:nth-child(2n+1) {
            background-color: $Very-Pale-Blue;
        }

        &--ver {
            flex-direction: column;
        }
    }

    .bg-top-1 {
        position: absolute;
        transform: rotate(180deg);
        width: 100%;
        height: 15rem;
        top: 0;
        left: 0;
        background-color: #fff;
        -webkit-mask-image: url(../../images/bg-section-top-desktop-1.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        -webkit-mask-position: top left;
        mask-size: 100%;
        mask-position: top right;
        mask-repeat: no-repeat;
        mask-image: url(../../images/bg-section-top-desktop-1.svg);
    }

    .bg-bottom-1 {
        position: absolute;
        transform: rotate(180deg);
        width: 100%;
        height: 15rem;
        bottom: -4rem;
        left: 0;
        background-color: #fff;
        -webkit-mask-image: url(../../images/bg-section-bottom-desktop-1.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        -webkit-mask-position: bottom right;
        mask-size: 100%;
        mask-position: bottom right;
        mask-image: url(../../images/bg-section-bottom-desktop-1.svg);
    }

    .bg-top-2 {
        position: absolute;
        transform: rotate(180deg);
        width: 100%;
        height: 13rem;
        top: 0;
        left: 0;
        background-color: #fff;
        -webkit-mask-image: url(../../images/bg-section-top-desktop-2.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        -webkit-mask-position: top left;
        mask-size: 100%;
        mask-position: top right;
        mask-repeat: no-repeat;
        mask-image: url(../../images/bg-section-top-desktop-2.svg);
    }

    .bg-bottom-2 {
        position: absolute;
        transform: rotate(180deg);
        width: 100%;
        height: 15rem;
        bottom: -4rem;
        left: 0;
        background-color: #fff;
        -webkit-mask-image: url(../../images/bg-section-bottom-desktop-2.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        -webkit-mask-position: bottom right;
        mask-size: 100%;
        mask-position: bottom right;
        mask-image: url(../../images/bg-section-bottom-desktop-2.svg);
    }

    &__text {
        width: 50%;
    }

    &__photo--box {
        width: 50%;
        padding: 10rem;
    }

    &__photo {
        width: 100%;
        object-fit: fill;
    }

}