.footer{
    @include flexbox(center);
    color: $color-white;
    background-color: $Very-Dark-Cyan;
    height: 90vh;
    overflow: hidden;
    position: relative;
    
    &__bg{
        position: absolute;
        transform: rotate(180deg);
        width: 100%;
        height: 15rem;
        top: 0;
        left: 0;
        background-color: #fff;
        -webkit-mask-image: url(../images/bg-footer-top-desktop.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size:cover;
        mask-size:cover;
        mask-repeat: no-repeat;
        mask-image: url(../images/bg-footer-top-desktop.svg);
    }

    &__left{
        @include flexbox(flex-start);
        padding: 5rem 15rem;
        width: 50%;
        flex-direction: column;
        justify-content: center;
}

    &__logo{

        svg{
            transform: scale(.7);
            margin-left: -3.8rem;
        }
    }

    &__contact{

        &--icon{
            margin-right: 1.5rem;
        }
    }

    &__social{
        @include flexbox(center);

        svg{
            cursor: pointer;

            path{
                transition: all .3s;
            }
            
            &:hover path{
                fill: red !important;
            }
        }
    }

    &__right{
        @include flexbox(flex-start);
        padding: 5rem 0;
        padding-left: 15rem;
        width: 50%;
        flex-direction: column;
        justify-content: center;

    }

    &__form{
        width: 100%;
    }

}