.heading{
    font-family: $heading-font;
    font-weight: 700;
    color: $Very-Dark-Cyan;
    text-align: center;
    @include respond(bp-medium){
        padding: 1rem;
    }


    &-1{
        font-size: 4rem;
    }

    &-2{
        font-size: 6rem;
    }

    &-3{
        font-size: 3rem;

        
    }

    &-4{
        font-size: 1.8rem;
        color: #fff;
        text-align: start;
    }
}

.paragraph{
    font-family: $body-font;
    font-size: 1.7rem;
    color: $Very-Dark-Cyan;
    text-align: center;
    

    &-light{
        color: #fff;
        font-size: 1.2rem;
        text-align: start;
    }


    &-4{
        font-weight: 400;
    }

    &-6{
        font-weight: 600;
    }

    &-7{
        font-weight: 700;
    }
}