.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}

.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-3{
    margin-right: 3rem;
}



.tl{
    text-align: left;

    @include respond(bp-small) {
        text-align: center;
    }
}

.tr{
    text-align: right;
}

.tc{
    text-align: center;
}

.upper{
    text-transform: uppercase;
}