// FONT
$heading-font: 'Poppins', sans-serif; // 700
$body-font : 'Open Sans', sans-serif; // 400 600 700

// COLORS

$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);

$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);

$color-white : #fff;
$color-gray : #eee;
